<!--
  Generated template for the FindPasswordPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>비밀번호 찾기</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding [formGroup]="fm.fg">
  <ion-list>
    <ion-list-header>
      회원님의 비밀번호를 재설정하기 위해선 회원님의 이메일, <br>
      이름, 휴대폰번호가 필수적으로 필요합니다.
    </ion-list-header>
    <div class="session-header"> 기본정보 입력 </div>
    <ion-item>
      <ion-label color="primary" stacked>이메일 입력</ion-label>
      <ion-input formControlName="email" placeholder="회원님의 이메일을 입력해 주세요"></ion-input>
    </ion-item>
    <label class="invalid-msg" *ngIf="email.dirty && email.errors?.required">입력이 되지 않았습니다.</label>
    <label class="invalid-msg" *ngIf="email.dirty && email.errors?.pattern">{{ validMsg.emailLabel.invalid}}</label>
    <label class="invalid-msg" *ngIf="email.dirty && email.errors?.maxlength">{{ validMsg.emailLabel.invalidMax }}</label>
    <ion-item>
      <ion-label color="primary" stacked>이름 입력</ion-label>
      <ion-input formControlName="name" placeholder="회원님의 이름을 입력해 주세요"></ion-input>
    </ion-item>
    <label class="invalid-msg" *ngIf="name.dirty && name.errors?.required">입력이 되지 않았습니다.</label>
    <label class="invalid-msg" *ngIf="name.dirty && name.errors?.maxlength">{{ validMsg.usernameLabel.invalidMax }}</label>

    <ion-item>
      <ion-label stacked color="primary">휴대폰 번호<br></ion-label>
      <ion-input formControlName="phone" placeholder="휴대폰 번호를 (-)없이 입력해주세요" type="tel"></ion-input>
    </ion-item>

    <label class="invalid-msg" *ngIf="phone.dirty && phone.errors?.pattern">{{validMsg.phoneNumLabel.invalidPattern}}</label>
    <label class="invalid-msg" *ngIf="phone.dirty && phone.errors?.maxlength">{{validMsg.phoneNumLabel.invalidMax}}</label>
    <label class="invalid-msg" *ngIf="phone.dirty && phone.errors?.minlength">{{validMsg.phoneNumLabel.invalidMin}}</label>
  </ion-list>

  <div class="submit-button">
    <button ion-button (click)="getPasswordQuest()">비밀번호 질문 가져오기</button>
  </div>
  <br>
  <br>
  <br>
  <div *ngIf="isPasswordQuest">
    <ion-list>
      <div class="session-header"> 비밀번호 질문/답변 </div>
      <ion-item>
        <ion-label color="primary" stacked>질문</ion-label>
        <ion-select formControlName="password_q">
          <ion-option value="0">나의 출신 초등학교는?</ion-option>
          <ion-option value="1">나의 아버지 성함은?</ion-option>
          <ion-option value="2">나의 어머니 성함은?</ion-option>
          <ion-option value="3">나의 가장 친한 친구는?</ion-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label color="primary" stacked> 답변 </ion-label>
        <ion-input formControlName="password_a" placeholder="위 항목에 대한 답변을 해주세요." type="text"></ion-input>
      </ion-item>
    </ion-list>
    <div class="submit-button">
      <button ion-button (click)="onFindPassword()">임시 비밀번호 발급받기</button>
    </div>
    <br>
    <br>
    <br>
  </div>
</ion-content>
